<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Dojo Survey</title>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
			crossorigin="anonymous"
		/>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
	</head>
	<body>
		<div class="container mt-5">
			<form action="/process" method="POST">
				<h2>Dojo Survey</h2>
                {% with messages = get_flashed_messages()%}    
                    {% if messages %}                            
                        {% for message in messages %}            
                            <p style="color:red">{{message}}</p>                   
                        {% endfor %}
                    {% endif %}
                {% endwith %}
				<div class="content_split">
                        <label for="name">Your Name:</label>
                        <input type="text" name="name" id="name">
                </div>
                <div class="content_split">
                    <label for="location">Dojo Location:</label>
                    <input type="text" name="location" id="location">
                </div>
                <div class="content_split">
                    <label for="language" class="lang">Favorite Language:</label>
                    <select name="language" id="language">
                        <option value="select"></option>>Select</option>
                        <option value="python" selected>Python</option>
                        <option value="js">JS</option>
                        <option value="css">CSS</option>
                        <option value="mern">M.E.R.N.</option>
                        <option value="java">Java</option>
                    </select>
                </div>
                <div class="content_split">
                    <label for="comment">Comments:</label>
                </div>
                <textarea name="comment" rows="5"></textarea><br>
                <p>Preferred contact method:</p>
                <input type="radio" id="email" name="optin" value="email" checked>
                <label for="email">Email</label>
                <input type="radio" id="discord" name="optin" value="discord" checked>
                <label for="discord">Discord</label>
                <input type="radio" id="phone" name="optin" value="phone">
                <label for="email">Phone</label>
                <p id="preferred">Opt-in</p>
                <input type="checkbox" id="emailSubscribe" name="subscribe" value="email" checked>
                <label for="emailSubscribe">Email Distroubtion List</label><br>
                <input type="checkbox" id="newsletterSubscribe" name="subscribe" value="newsletter" checked>
                <label for="newsletterSubscribe">Newsletter</label><br>
                <input type="checkbox" id="exclusiveOffers" name="subscribe" value="exclusives" checked>
                <label for="exclusiveOffers">Exclusive Offers</label><br>
                <input type="checkbox" id="none" name="subscribe" value="none" checked>
                <label for="none">None</label>
                <div class="flex_center">
                    <button>Submit</button>
                </div>
			</form>
		</div>
	</body>
</html>
