<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-2">
        <h1>Add a New User</h1>
        <form action="/adduser" method="POST">
            <input class ="mt-1" type="text" name="first_name" placeholder="first_name"><br>
            <input class ="mt-1" type="text" name="last_name" placeholder="last_name"><br>
            <input class ="mt-1" type="text" name="email" placeholder="email_address"><br>
            <button type="button" class="btn btn-dark mt-2">Submit</button>    
        </form>
        <a href="/read"><button button type="button" class="btn btn-success mt-2">See All Users</button></a>
    </div>
</body>
</html>