<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet"/>
		<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet"/>
		<!-- <link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet" /> -->
		<title>Register</title>
	</head>
	<body>
		<div class="container">
			{% with messages = get_flashed_messages() %} 
        		{% if messages %} 
					<div class="form">
						<h3 class="message-text">Message</h3>
						{% for message in messages %}
						<p class="alert_text">{{message}}</p>
						{% endfor %} 
					</div>
				{% endif %} 
			{% endwith %}
			<div class="form">
				<div class="inner_register">
					<h2>Register</h2>
					<form action="/register" id="register" method="POST">
						<label for="first_name">First Name:</label><br />
						<input type="text" name="first_name" id="first_name" /><br />
						<label for="first_name">Last Name:</label><br />
						<input type="text" name="last_name" id="last_name" /><br />
						<label for="email">Email Address:</label><br />
						<input type="text" name="email" id="email" /><br />
						<label for="password">Enter Password</label><br />
						<input type="password" name="password" id="password" /><br />
						<div id="pass_text">
							<ul>
								<li class="mini_text">8-12 characters</li>
								<li class="mini_text">include 1 uppercase, 1 lowercase, and one number</li>
							</ul>
						</div>
						<label for="confirm_pass">Confirm Password:</label><br />
						<input type="password" name="confirm_pass" id="confirm_pass" /><br />
					</form>
					<div class="flex">
						<input class="btn register" form="register" type="submit" value="Register" />
						<a href="/login"><button class="btn">Login</button></a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
