<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <title>Read</title>
</head>
<body>
    <div class="container mt-2">
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <td>First Name</td>
                    <td>Last Name</td>
                    <td>Email</td>
                    <td>Actions</td>
                </tr>
                {% for user in users%}
                <tr>
                    <td>{{user.first_name}}</td>
                    <td>{{user.last_name}}</td>
                    <td>{{user.email}}</td>
                    <td>
                        <a href="/show/{{user.id}}"><button type="button" class="btn btn-light mr-1">Show</button></a>
                        <a href="/edit/{{user.id}}"><button type="button" class="btn btn-warning">Edit</button></a> 
                        <a href="/delete/{{user.id}}"><button type="button" class="btn btn-danger">Delete</button></a>
                    </td>
                </tr>
                {% endfor %}
            </thead>
        </table>
        <a href="/"><button type="button" class="btn btn-primary">Create Another User</button></a>
    </div>
</body>
</html>